<footer>
    <div class="footer-container">
        
       
        
        <p class="footer-copy">&copy; <a href="aboutus.html">About Us - </a> 2025 VAR United. All rights reserved.</p>
    </div>
</footer>
</body>

</html>