<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Clubs</title>
    <link rel="icon" type="" href="/assets/logoCropped.png">
</head>

<body>
    <header>
        <a href="fifaHomePage.html"><img src="assets/logoCropped.png" alt="logo"></a>
        <nav></nav>
        <div class="right-section">
            <a href=""><img class="user-icon" src="assets/nouserselected.png" alt="user-icon"></a>
        </div>
    </header>