<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title><%= title %></title>
    <link rel="icon" type="" href="/assets/logoCropped.png">
</head>

<body>
    <header>
        <a href="home"><img src="assets/logoCropped.png" alt="logo"></a>
        <nav></nav>
        <div class="right-section">
            <img class="user-icon" src="assets/nouserselected.png" alt="user-icon">
  <p><%= user.username %> <form method="POST" action="/logout" style="display:inline;"><button type="submit" class="loguit">Log uit</button></form></p>
        </div>
    </header>