<%- include('partials/header') %>

<main class="quiz-start">
    <section id="rulesBox">
        <h2>Spelregels</h2>
        <ul>
            <li>Je hebt 10 seconden per vraag.</li>
            <li>Na een keuze kan je die niet meer aanpassen.</li>
            <li>Elke juiste vraag levert punten op.</li>
            <li>Geen straf voor foute antwoorden.</li>
        </ul>
        <button id="beginQuizBtn">Begin Quiz</button>
    </section>
</main>

<script>
    document.getElementById("beginQuizBtn").addEventListener("click", () => {
        window.location.href = "/quizvragen"; // verander dit naar je quizroute
    });
</script>
