
<%- include("partials/header") %>
    <main>
        <section class="image-gallery">
            <a href="#">
                <div class="card" data-text="Fortnite">
                    <img src="/assets/fortnite.jpg" alt="Fortnite">
                </div>
            </a>
            <a href="/fifaHomePage">
                <div class="card" data-text="FIFA">
                    <img src="/assets/fifa.jpg" alt="FIFA">
                </div>
            </a>
            <a href="#">
                <div class="card" data-text="LOTR">
                    <img src="/assets/lotr.jpg" alt="LOTR">
                </div>
            </a>
            <a href="#">
                <div class="card" data-text="Magic The Gathering">
                    <img src="/assets/magicthegathering.jpg" alt="Magic The Gathering">
                </div>
            </a>
            <a href="#">
                <div class="card" data-text="Pokémon">
                    <img src="/assets/fakepoke.jpg" alt="Pokémon">
                </div>
            </a>
            <a href="#">
                <div class="card" data-text="Lego Masters">
                    <img src="/assets/legomasters.jpg" alt="Lego Masters">
                </div>
            </a>
        </section>
    </main>
    
<%- include('partials/footer') %>
