<%- include('partials/header') %>
<main class="quiz-keuze">
    <section class="image-gallerys-quiz">
      <a href="/clubquiz">
        <div class="between-card" data-text="Clubs-quiz">
            <img src="assets/teamsquizfoto.jpg" alt="Teams Quiz">
        </div>
      </a>
      <a href="/playerquiz">
        <div class="between-card" data-text="Spelers-quiz">
            <img src="assets/spelerquizfoto.jpg" alt="Players Quiz">
        </div>
      </a>
      <a href="/competitiesquiz">
        <div class="between-card" data-text="Competities-quiz">
            <img src="assets/competitiesquizfoto.jpg" alt="Competitions Quiz">
        </div>
      </a>
    </section>
  </main>
</body>
</html>