<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title><%= title %></title>
    <link rel="icon" type="" href="/assets/logoCropped.png">
</head>

<body>
    <header>
        <a href="home"><img src="assets/logoCropped.png" alt="logo"></a>
        <nav></nav>
        <div class="right-section">
            <img class="user-icon" src="assets/nouserselected.png" alt="user-icon">
        </div>
    </header>
<main class="register-container">
    <form class="register-form" action="/register" method="POST">
        <p class="title">Registreer</p>
        <p class="message">Meld je nu aan en krijg volledige toegang tot de game</p>

        <label>
            <input required type="text" name="username" class="input">
            <span>Gebruikersnaam</span>
        </label>

        <label>
            <input required type="email" name="email" class="input">
            <span>Email</span>
        </label>

        <label>
            <input required type="password" name="password" class="input" id="password">
            <span>Wachtwoord</span>
            <div class="password-requirements">
                <i class="fas fa-info-circle"></i>
                <div class="tooltip">
                    Wachtwoord vereisten:
                    <ul>
                        <li>Minimaal 8 tekens</li>
                        <li>Minstens 1 hoofdletter</li>
                        <li>Minstens 1 kleine letter</li>
                        <li>Minstens 1 nummer</li>
                        <li>Minstens 1 speciaal teken (!@#$%^&*)</li>
                    </ul>
                </div>
            </div>
        </label>

        <label>
            <input required type="password" name="confirmPassword" class="input" id="confirm-password">
            <span>Verifieër wachtwoord</span>
        </label>

        <button type="submit" class="submit">Verzenden</button>
        <p class="signin">Heb je al een account ? <a href="/login">Log-in</a> </p>
    </form>
</main>

<%- include("partials/footer") %>
