<%- include('partials/header') %>
<main class="favoriete-keuze">

   <div class="back__wrapper">
    <a href="/home" class="back__button">â† Terug naar Home</a>
  </div>
  
    <section class="image-gallerys">
      <a href="/blacklist-clubs">
        <div class="between-card" data-text="Blacklisted-clubs">
          <img src="assets/teams.png" alt="FIFA" />
        </div>
      </a>
      <a href="/blacklist-competities">
        <div class="between-card" data-text="Blacklisted-competities">
          <img src="assets/competities.png" alt="FIFA" />
        </div>
      </a>
    </section>
  </main>

<%- include('partials/footer') %>