<%- include('partials/header') %>
<main class="favoriete-keuze">
    <section class="image-gallerys">
      <a href="/favoriet-clubs">
        <div class="between-card" data-text="favoriete-clubs">
          <img src="assets/teams.png" alt="FIFA" />
        </div>
      </a>
      <a href="/favoriet-competities">
        <div class="between-card" data-text="favoriete-competities">
          <img src="assets/competities.png" alt="FIFA" />
        </div>
      </a>
    </section>
  </main>

<%- include('partials/footer') %>
